@import "tailwindcss";

@theme {
  --color-lav1: #fdfbd4;
  --color-lav2: #bdb96a;
  --color-lav3: #c1bfff;
  --color-lav4: #cf6dfc;

  --font-inria: "Inria Sans", sans-serif;
}

.widget {
  @apply bg-black/10 rounded-2xl m-auto lg:mt-10 lg:min-w-[90%] lg:hover:scale-103 ease-in-out duration-150
}

.button {
  @apply lg:hover:cursor-pointer mx-auto relative md:w-20 md:h-20 w-15 h-15 rounded-full lg:hover:w-22 lg:hover:h-22 ease-in-out duration-150
}

.widgetIcons {
  @apply mx-auto relative w-25 h-25 rounded-4xl
}

.visibility {
  @apply lg:block hidden
}

.h1b {
  top: calc(50% - 16px);
  left: calc(50% - 6px);
}